* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
}

#find {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    background: rgb(51, 168, 86);
    margin-top: 50px;
    padding: 20px;
    color: #fff;
}