* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* display: flex; */
    flex-direction: column;
    width: 100%;
    /* justify-content: center; */
    /* align-items: center; */
    /* background: #000; */
    color: #fff;
}

#find {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    background: rgb(51, 168, 86);
    margin-top: 50px;
    padding: 20px;
    color: #fff;
}


/* #dogImage {
    width: 250px;
    height: 250px;
} */

#breed-list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 200px;
    background-color: #85898d;
}

#breed-list li {
    padding: 10px;
}

#breed-list li:hover {
    padding: 10px;
    background-color: #d5d7d9;
}


/* breed images */

#breed-image {
    padding-left: 200px;
    width: 100%;
    min-width: 100px;
    text-align: center;
}

.gridItem {
    width: 200px;
    height: 200px;
    margin-left: 1%;
    margin-top: 1%;
    display: inline-block;
    object-fit: cover;
    transition: transform 0.3s;
}

.gridItem:hover {
    transform: scale(2, 2);
    object-fit: contain;
}