* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    padding: 10px 0px;
}

#breed-list {
    list-style-type: none;
    padding: 10px;
    margin: 0px;
    width: 100%;
    background-color: #ad122c;
    display: flex;
    overflow-x: scroll;
}

#breed-list li {
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    font-size: .8rem;
}

#breed-list li:hover {
    padding: 10px;
    background-color: #d5d7d9;
}


/* breed images */

#breed-image {
    padding-left: 0px;
    width: 100%;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
}

.gridItem {
    width: 200px;
    height: 200px;
    margin-left: 1%;
    border-radius: 50%;
    margin-top: 1%;
    display: inline-block;
    object-fit: cover;
    transition: transform 0.3s;
}